<% include partials/header %>
    <div class="list-group">
        <li class="list-group-item active">Author: John Kang/li>
        <li class="list-group-item">Email: johnzkan@usc.edu</li>
        <li class="list-group-item">Github link in landing page in about tab</li>
        <li class="list-group-item">Background info: USC student studying computer engineering and computer science with a passion for creating solutions for real world applications, looking for full-time after December 2020 and internship for Summer 2020</li>
    </div>
<% include partials/footer %>
