<% include ../partials/header %>	
	<% if(currentUser && currentUser.isAdmin){ %>
		<h1>You are Admin!</h1>
	<% }%>
	<header class = "jumbotron">
		<p>View all houses you manage currently!</p>
		<p><a class = "btn btn-primary btn-lg" href="/campgrounds/new">add new house</a></p>
	</header>

	
	<div class = "row text-center" style = "display:flex; flex-wrap:wrap;">
		<% campgrounds.forEach((camp) =>{ %>
			<div class = "col-md-3 col-sm-6">
				<div class = "thumbnail">
					<img src = "<%= camp.image%>">
					<div class = "caption">
						<%=camp.name%>
					</div>
					<p>
						<a href ="/campgrounds/<%=camp._id %>" class = "btn btn-primary">more info</a>
						<form action ="/campgrounds/<%=camp._id%>/join" method = "POST">
							<button class = "btn btn-success">join</button>
						</form>
						
					</p>
				</div>
			</div>
		<% }); %>
	</div>
<% include ../partials/footer %>	

	
